// border
.main{
    height: 100%;
    width: 100%;
    padding: 30px 30px 80px 30px;

    .thickLine{
        border: 5px solid black;
        // border-bottom: none;
        height: 98%;

        .middleLine{
            border: 1px solid black;
            border-bottom: none;
            margin: 4px;
            height: 98%;

            .bottomLine{
                border: 2px solid black;
                border-bottom: none;
                margin: 2px;
                height: 98%;

            }
        }
    }
}

// header
h1{
    width: 160px;
    background-color: white;
    margin: 0 10px;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -80px;
    padding: 0 20px;

    img{
        height: 100%;
        width: 100%;
    }


}

// gif

.slideshow{

    width: 100%;
    display: table;
    height: 100%;

    .main-image{
        display: table-cell;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 60%;
        margin: 0 auto;
    }

}

// buttons


.navigator{
    height: 79px;
    width: 74px;
    position: absolute;
    bottom: 96px;
    background-color: #ffffff;

    &__next{
        right:30px;
    }

    &__prev{
        left:  30px;
    }

    img{
        height: 100%;
        width: auto;
    }
}

.shuffle{
    position: absolute;
    width: 30px;
    height: auto;
    left: 50%;
    margin-left: -15px;
    bottom: 110px;
}

.social{
    position: absolute;
    width: 150px;
    bottom: 40px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
}


.dip{
    position: absolute;
    width: 100px;
    bottom: 84px;
    left: 50%;
    margin-left: -50px;
    background-color: white;

    img{
        width: 100%;
        height: auto;
    }
}
